numpy==1.26.4 # Numpy 2.0 breaks a bunch of things
healpy
datasets
h5py 
waiting

# DESI dependencies
fitsio==1.2.1 
speclite 
numba 
# The following requires manual install unfortunately
# git+https://github.com/desihub/desiutil.git
# git+https://github.com/desihub/desispec.git 
# git+https://github.com/desihub/desitarget.git 
# git+https://github.com/desihub/desimodel.git

#TESS Specific dependencies
astroquery

# Provabgs specific requirements
git+https://github.com/changhoonhahn/provabgs.git

#SN specific dependencies
sncosmo

# HSC specific dependencies
git+https://github.com/eiffl/unagi.git@update


# JWST requirements
wget
bs4
tqdm

# Chandra requirements
sherpa>=4.15.0
pyvo>=1.4
astropy

