healpy
datasets 
h5py 

# HSC specific dependencies
git+https://github.com/eiffl/unagi.git@update


# SN specific dependencies
sncosmo

# JWST requirements
wget
bs4
tqdm

# Chandra requirements
sherpa
pyvo
astropy
 
