healpy
datasets
h5py

#TESS Specific dependencies
astroquery

# Provabgs specific requirements
git+https://github.com/changhoonhahn/provabgs.git

#SN specific dependencies
sncosmo

# SN baseline specific dependencies
git+https://github.com/ado8/snmachine

# HSC specific dependencies
git+https://github.com/eiffl/unagi.git@update


# JWST requirements
wget
bs4
tqdm

# Chandra requirements
sherpa>=4.15.0
pyvo>=1.4
astropy